.birthday-container {
  padding: 1rem;
  text-align: center;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);

  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: .5rem 0 .5rem; */
  background-color: var(--box);
  width: 10rem;
}

.birthday-person {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 1rem; */
}

.present-button,
.present-gotten-button {
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  /* border-radius: 5px; */
  cursor: pointer;
}

.present-button {
  background-color: var(--main-accent);
}

.present-gotten-button {
  background-color: #0d7000;
  position: relative;
  /* color: black; */
  /* display: inline-block; */
}
