.weight {
  border-radius: 10px;
  /* padding: 1rem; */
  max-width: 400px;
  margin: auto;
}

.weight h3 {
  margin-bottom: 0.5rem;
}

.weight input {
  padding: 0.5rem;
  width: 70%;
  margin-right: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.weight button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.weight .message {
  margin-top: 0.5rem;
  color: #555;
}

/* show weight */
.weight-card {
  text-align: center;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .5rem 0 .5rem;
  background-color: var(--box);
  width: 10rem;
}

.weight-card-top {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 4px;
}

.weight-card-weight {
  font-size: 2.5rem;
  font-weight: 700;
}

.weight-card-unit {
  font-size: 1rem;
  color: #888;
  font-weight: 500;
}

.weight-card-label {
  font-size: .9rem;
  text-align: center;
  margin-top: 0.5rem;
  font-weight: 500;
}

.weight-card-time {
  font-size: 0.8rem;
  color: #aaa;
  text-align: center;
  margin-top: 0.2rem;
}

.weight-card-top button{
  background-color: transparent;
  padding: 0;
  margin: 0;
}