/* src/components/Phases/phase.css */
.phase {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.phase-canvas {
  border-radius: 12px;
  display: block;
}
/* .phase-text {
  position: absolute;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
} */