body {
  background-color: black;
  color: white;

  /* colour variables */
    --box: #0b0b0b;
    --gray-text: #262626;
    --main-accent: #C62915;
    --toastify-color-progress-dark: var(--main-accent);
}